# Solution extensions configuration file
# to install see Visual Studio marketplace at https://marketplace.visualstudio.com/items?itemName=JanStuchlik.SolutionExtensions2
# format: Title|[ShortCutKey]|ClassName|DllPath|[Argument]|[Flags]
Class1 extension|Ctrl+D|Class1|C:\Users\jstuc\Documents\IMG_20221201_0030.jpg|?|
extension|Ctrl+S||$(SELF)||
Tit|ALT+1|MyClass|MyDll.dll|Arg|CompileBeforeRun
ext1||MyClass|MyDll.dll||
ext2||MyClass|MyDll.dll||
ext3||MyClass|MyDll.dll||
ext4||MyClass|MyDll.dll||
ext5||MyClass|MyDll.dll||
gen1||MyClass|MyDll.dll||Generator
