# Solution extensions configuration file
# to install see Visual Studio marketplace at https://marketplace.visualstudio.com/items?itemName=JanStuchlik.SolutionExtensions2
# format: Title|[ShortCutKey]|ClassName|DllPath|[Argument]|[Flags]
Sample 1||ExtensionSamples.Sample1|$(SolutionDir)\ExtensionSamples\bin\Debug\ExtensionSamples.dll||
Dump DTE||SolutionExtensions.Extensions.DumpExtension|$(SELF)|?|
Sample2||ExtensionSamples.Sample2|$(SolutionDir)\ExtensionSamples\bin\Debug\ExtensionSamples.dll||OutOfProcess
Sample 333||ExtensionSamples.Sample3|$(SolutionDir)\ExtensionSamples\bin\Debug\ExtensionSamples.dll|?42|CompileBeforeRun
Nest file||SolutionExtensions.Extensions.NestFileExtension21|$(SELF)||
Sample Gen 4||ExtensionSamples.Sample4|$(SolutionDir)\ExtensionSamples\bin\Debug\ExtensionSamples.dll||CompileBeforeRun,Generator
->$(SolutionDir)\ClassLibrary1\myfile.foo
->$(SolutionDir)\ClassLibrary1\myfile.oof
->$(SolutionDir)\ClassLibrary1\Class1.html
Sample Gen 5||ExtensionSamples.Sample5|$(SolutionDir)\ExtensionSamples\bin\Debug\ExtensionSamples.dll||CompileBeforeRun,Generator
->$(SolutionDir)\ClassLibrary1\myfile.lmth
