# Solution extensions configuration file
# format: [Title]|[ShortCutKey]|[ClassName]|DllPath
Sample 1||ExtensionSamples.Sample1|$(SolutionDir)\ExtensionSamples\bin\Debug\ExtensionSamples.dll|
Dump DTE||SolutionExtensions.Extensions.DumpExtension|$(SELF)|
Dump DTE (More)||SolutionExtensions.Extensions.DumpExtensionMore|$(SELF)|
Add project||ExtensionSamples.Sample2|$(SolutionDir)\ExtensionSamples\bin\Debug\ExtensionSamples.dll|
Nest file||SolutionExtensions.Extensions.NestFileExtension|$(SELF)|
Sample 3||ExtensionSamples.Sample3|$(SolutionDir)\ExtensionSamples\bin\Debug\ExtensionSamples.dll|42
